@use '../../../assets/styles/breakpoints' as breakpoints;
@use '../../../assets/styles/colors' as colors;

h2 {
  font-size: 3.8rem;
  color: colors.$white;
  display: flex;
  justify-content: center;
  padding: 1.5rem 0;

  @media(min-width: breakpoints.$mediumBreakpointMin) {
    font-size: 5rem;
  }

  @media(min-width: breakpoints.$largeBreakpointMin) {
    font-size: 5rem;
    padding: .5rem 0 3rem 0;
    opacity: 0;
  }

  @media(min-width: breakpoints.$wideBreakpoint) {
    font-size: 8rem;
  }

}