@use '../../../assets/styles/colors' as colors;

.arrow {
  font-size: 6rem;
  transform: rotate(-90deg);
  color: colors.$white;
  cursor: pointer;

  &:hover {
    opacity: .5;
  }

  &--disabled {
    opacity: .5;
  }

  &--down {
    transform: rotate(90deg);
  }
}