@use '../../../../assets/styles/breakpoints' as breakpoints;
@use '../../../../assets/styles/colors' as colors;


.form {
  &__field {
    &--input {
      background: none;
      border: 1px solid colors.$white;
      padding: 1rem 1rem 1rem 2rem;
      font-size: 2rem;
      color: colors.$white;
      font-family: 'Covered By Your Grace', cursive;
      min-width: 100%;
    
      @media(min-width: breakpoints.$largeBreakpointMin) {
        font-size: 2.4rem;
        min-width: 80%;
      }

      @media(min-width: breakpoints.$wideBreakpoint) {
        font-size: 3.5rem;   
      }
    
      &::placeholder {
        color: colors.$white;
      }

      &:focus {
        outline: none;
        border: 1px solid colors.$aqua;
        color: colors.$aqua;
        &::placeholder {
          color: colors.$aqua;
        }
      }

      &[type="datetime-local"]::-webkit-calendar-picker-indicator {
        filter: invert(1);
        cursor: pointer;
      }
    }

    &--error {
      min-height: 3rem; 
      line-height: 3rem;
      color: colors.$red;
      font-size: 2rem;
  
      small {
        display: block;
        visibility: visible;
        color: colors.$red;
        text-align: left;
      }
  
      &:empty small {
        visibility: hidden;
      }
    }
  }
}

.custom-datepicker {
  --dp-background-color: transparent !important;
  --dp-placeholder-color: colors.$white;
  --dp-primary-color: colors.$white;
  --dp-border-color: #fff;
  --dp-border-radius: 0;
  --dp-font-family: 'Covered By Your Grace', cursive;
  --dp-font-size: 2rem;
  --dp-input-padding: 1rem 1rem 1rem 2rem;
  --dp-time-font-size: 5rem;
  --dp-icon-color: colors.$white;

  @media (min-width: breakpoints.$largeBreakpointMin) {
    --dp-font-size: 2.4rem;
    max-width: 80%;
  }

  @media(min-width: breakpoints.$wideBreakpoint) {
    --dp-font-size: 3.5rem;   
  }
}
