@use '../../../assets/styles/breakpoints' as breakpoints;

.home {
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__headline {
    margin: auto 0;
  }

  &__arrow {
    padding-right: 10rem;
    animation: showIcon 0.5s ease-out forwards, bounceDown 0.7s infinite alternate ease-in-out;
    animation-delay: 3s, 3.2s; 
    opacity: 0;
    
    @media(min-width: breakpoints.$largeBreakpointMin) {
      display: none;
    }
  }

  &__icon {
    width: 7rem;
    animation: showIcon .5s ease-out forwards;
    animation-delay: 3s;
    opacity: 0;
  }
}

@keyframes showIcon {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bounceDown {
  from {
    transform: rotate(90deg) translateX(0);
  }
  to {
    transform: rotate(90deg) translateX(-10px);
  }
}