@font-face {
  font-family: 'Climate Crisis';
  font-weight: 400;
  font-style: normal;
  src: url('./assets/fonts/Climate-Crisis/ClimateCrisis-Regular.woff2') format('woff2'),
       url('./assets/fonts/Climate-Crisis/ClimateCrisis-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Covered By Your Grace';
  font-weight: 400;
  font-style: normal;
  src: url('./assets/fonts/Covered-By-Your-Grace/CoveredByYourGrace.woff2') format('woff2'),
       url('./assets/fonts/Covered-By-Your-Grace/CoveredByYourGrace.woff') format('woff');
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Covered By Your Grace', cursive;
  background: linear-gradient(0deg, #3EDBEE 0%, #237D88 100%) no-repeat;
  padding: 0 1rem;
  overflow-y: scroll;
}

h1 {
  font-family: 'Climate Crisis', sans-serif;
}

section {
  height: 100vh;
}

.noScroll {
  overflow-y: hidden;
}
